<div class="app flex-row align-items-center" ng-controller="loginController as loginUser">
	<div class="container">
    	<div class="row justify-content-center">
      		<div class="col-md-8">
        		<div class="card-group">
          			<div class="card p-4">
            			<div class="card-body">
            			
            				<!-- startOf : login form -->
            				<form name="loginForm"
            				ng-submit="loginUser.loginSUForm(loginForm.$valid)"
            				ng-init="emailFocussed = true;passwordFocussed = true" novalidate>
								
								<!-- startOf : login header -->
              					<h1>Login</h1>
              					<p class="text-muted">Sign In to your account</p>
              					<!-- endOf : login header -->
              					
              					<!-- startOf : email field -->
              					<div class="form-group">
              						<div class="input-group mb-3">
              						              							
              							<!-- startOf : user icon -->
              							<div class="input-group-prepend">
                  							<span class="input-group-text"><i class="icon-user"></i></span>
                						</div>
                						<!-- startOf : user icon -->
                						
                						<!-- startOf : input email -->
                						<input type="text" class="form-control" name="email"
                						id="email" ng-model="email" placeholder="Enter Email"
                						ng-focus="emailFocussed = true" ng-blur="emailFocussed = false"
                						ng-pattern="emailPatternRegex" autocapitalize="none"
                						spellcheck="false" autocomplete="off" required>
                						<!-- endOf : input email -->

										<!-- startOf : error msg | email required -->
						                <span style="color: red"
						                ng-show="((loginForm.email.$dirty && loginForm.email.$error.required) ||
						                (!emailFocussed && loginForm.email.$error.required))">
						                  <div>{{loginSTContent.errorMessage.requiredUserEmail}}</div>
						                </span>
						                <!-- endOf : error msg | email required -->
						
						                <!-- startOf : error msg | valid email required -->
						                <span style="color: red"
						                ng-show="loginForm.email.$error.pattern && !emailFocussed">
						                    <div>{{loginSTContent.errorMessage.wrongEmailPattern}}</div>
						                </span>
						                <!-- startOf : error msg | valid email required -->
                
              						</div>
              					</div>              					
              					<!-- endOf : email field -->
              					
              					<!-- startOf : password field -->
              					<div class="form-group">              					
              						<div class="input-group mb-4">
                						
                						<!-- startOf : password icon -->
                						<div class="input-group-prepend">
                  							<span class="input-group-text"><i class="icon-lock"></i></span>
                						</div>
                						<!-- endOf : password icon -->
                						
                						<!-- startOf : input password -->
                						<input type="password" id="password" class="form-control"
                						placeholder="Enter Password"  name="password" ng-model="password"
                						ng-focus="passwordFocussed = true" ng-blur="passwordFocussed = false"
                						required>
                						<!-- endOf : input password -->
                						
                						<!-- startOf : password required -->
                						<span style="color: red" ng-show="((loginForm.password.$dirty
                						&& loginForm.password.$error.required) ||
                						(!passwordFocussed && loginForm.password.$error.required))">
                  						<div>{{loginSTContent.errorMessage.requiredPassword}}</div>
                						</span>
                						<!-- endOf : password required -->
                
              						</div>              					
              					</div>              					
              					<!-- endOf : password field -->
              					
              					<!-- startOf : buttons block -->
              					<div class="row">
                					<div class="col-6">                					
                						<!-- startOf: submit button -->
                						<button type="submit" ng-disabled="loginForm.$invalid"
                						class="btn btn-primary px-4">
                  							<div>{{loginSTContent.logIn}}</div>
                						</button>
                  						<!-- endOf: submit button -->
                					</div>
                					<div class="col-6 text-right">
                  						<button type="button" class="btn btn-link px-0">Forgot password?</button>
                					</div>
              					</div>
              					<!-- endOf : buttons block -->
              					
              				</form>
              				<!-- endOf : login form -->
              				
            			</div>
          			</div>
          			<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            			<!-- <div class="card-body text-center">
              			 	<div>
                				<h2>Sign up</h2>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                				<button type="button" class="btn btn-primary active mt-3">Register Now!</button>
              				</div>
            			</div> -->
          			</div>
        		</div>
			</div>
		</div>
	</div>
</div>