<div class="container-scroller" ng-controller="transactionController as transactionCtrl">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      
      <div class="bg-white text-center navbar-brand-wrapper">
        <a class="navbar-brand brand-logo" href="../../index.html">
          <img src="../../../style/images/logo_star_black.png" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html">
          <img src="../../../style/images/logo_star_mini.jpg" alt="">
        </a>
      </div>
  
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
          <span class="navbar-toggler-icon"></span>
        </button>      
      </div>
  
    </nav>
  
    <!-- partial -->
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
          
          <div class="user-info">
            <img src="../../../style/images/face.jpg" alt="">
            <p class="name">Richard V.Welsh</p>
            <p class="designation">Manager</p>
            <span class="online"></span>
          </div>
  
          <ul class="nav">
  
            <li class="nav-item active">
              <a class="nav-link" href="../../index.html">
                <img src="../../../style/images/icons/1.png" alt="">
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
  
            <li class="nav-item">
  
              <a class="nav-link" data-toggle="collapse" data-target="#collapseOne">
                <img src="../../../style/images/icons/2.png" alt="">
                <span class="menu-title">
                  <div>
                    Report&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-sort-down"></i>
                  </div>                
                </span>
              </a>
    
              <div class="collapse" id="collapseOne">
                  
                <!-- startOf : Report Sub Menu-->
                <ul class="nav flex-column sub-menu">
                    
                <!-- startOf: Transaction -->
                <li class="nav-item">
                  <a class="nav-link"
                  ng-click="dashboardCtrl.SMenuRTransaction()">
                    <div>Transaction</div>
                  </a>
                </li>
                <!-- endOf: Transaction -->
                    
                <!-- startOf: Goal -->
                <li class="nav-item">
                  <a class="nav-link" 
                  ng-click="dashboardCtrl.SMenuRGoal()">
                    <div>Goal</div>
                  </a>
                </li>
                <!-- endOf: Goal -->
    
                <!-- startOf: Redeem -->
                <li class="nav-item">
                  <a class="nav-link"
                      ng-click="dashboardCtrl.SMenuRradeem()">
                        <div>Redeem</div>
                      </a>
                    </li>
                    <!-- endOf: Redeem -->
    
                    <!-- startOf: Cancel -->
                    <li class="nav-item">
                      <a class="nav-link" 
                      ng-click="dashboardCtrl.SMenuRCancel()">
                        <div>Cancel</div>
                      </a>
                    </li>
                    <!-- endOf: Cancel -->
                  </ul>
                  <!-- endOf : Report Sub Menu-->
    
                </div>
    
              </li>
  
            <li class="nav-item">
              <a class="nav-link" href="../../pages/widgets.html">
                <img src="../../../style/images/icons/2.png" alt="">
                <span class="menu-title">Widgets</span>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="../../pages/forms/index.html">
                <img src="../../../style/images/icons/005-forms.png" alt="">
                <span class="menu-title">Forms</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/ui-elements/buttons.html">
                <img src="../../../style/images/icons/4.png" alt="">
                <span class="menu-title">Buttons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/tables/index.html">
                <img src="../../../style/images/icons/5.png" alt="">
                <span class="menu-title">Tables</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/charts/index.html">
                <img src="../../../style/images/icons/6.png" alt="">
                <span class="menu-title">Charts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/icons/index.html">
                <img src="../../../style/images/icons/7.png" alt="">
                <span class="menu-title">Icons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/ui-elements/typography.html">
                <img src="../../../style/images/icons/8.png" alt="">
                <span class="menu-title">Typography</span>
              </a>
            </li>
          
          </ul>
        </nav>
  
        <!-- partial -->
        <div class="content-wrapper">
          <h3 class="page-heading mb-4">Forms</h3>
          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Basic form elements</h5>
  
                  <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control p-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address01</label>
                        <input type="email" class="form-control p-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address02</label>
                        <input type="email" class="form-control p-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control p-input" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea">Example textarea</label>
                        <textarea class="form-control p-input" id="exampleTextarea" rows="5" placeholder="Let us type some loremm ipsum...."></textarea>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <label>
                            <input type="checkbox" class="form-check-input">
                            Check me out
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <label>
                            <input type="checkbox" disabled class="form-check-input">
                            Disabled Checkbox
                          </label>
                        </div>
                        <div class="form-radio">
                          <label>
                            <input name="sample" value="" type="radio">
                            Radio option 1
                          </label>
                        </div>
                        <div class="form-radio">
                          <label>
                            <input name="sample" value="" type="radio">
                            Radio option 2
                          </label>
                        </div>
                        <div class="form-radio disabled">
                          <label>
                            <input name="sample" value="" type="radio" disabled>
                            Disabled Radio option
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
  
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title mb-4">Advanced Table</h5>
                  <div class="table-responsive">

                    <div id="grid1" ui-grid="gridOptions" ui-grid-edit class="grid"></div>

                    <!-- <table id="table" data-toggle="table" 
                    data-query-params="queryParams"
                    data-pagination="true" data-search="true">
                    
                      <thead>                              
                        <tr class="text-primary">
                          <th data-field="No" data-sortable="true" data-sorter="htmlSorter">No</th>
                          <th data-field="Invoice" data-sortable="true">Invoice Subject</th>
                          <th data-field="Client" data-sortable="true">Client</th>
                          <th data-field="VatNo" data-sortable="true">VatNo.</th>
                          <th data-field="Created" data-sortable="true">Created</th>
                          <th data-field="Price" data-sortable="true">Price</th>
                        </tr>
                      </thead>
                    </table> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!-- partial:../../partials/_footer.html -->
  
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="float-right">
              <!-- <a href="#">Star Admin</a> &copy; 2017 -->
            </span>
          </div>
        </footer>
  
  
        <!-- partial -->
      </div>
    </div>
  
  </div>

<!--  http://bootstrap-table.wenzhixin.net.cn/examples/#basic -->